@use "../abstracts" as *;

.pc-show {
  display: block;
}
.mo-show {
  display: none !important;
}
[tabindex="0"] {
  cursor: pointer;
}
.y-hide {
  overflow: hidden;
}
.ui-set-y {
  transform: translateY(100%);
  transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.21, 0.96);
  // transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.09, 1.5);
  display: inline-block;
  &.active {
    transform: translateY(0);
  }
}
.ui-set-scale {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.63, -0.01, 0.21, 0.96),
    opacity 0.5s ease-out;
  // transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.09, 1.5);
  &.active {
    transform: scale(1);
    opacity: 1;
  }
}
.ui-set-y-type02 {
  transform: translateY(1rem);
  opacity: 0;
  transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.21, 0.96),
    opacity 0.4s cubic-bezier(0.63, -0.01, 0.21, 0.96);
  // transition: transform 0.4s cubic-bezier(0.63, -0.01, 0.09, 1.5);
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
.section-tit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .type-tit {
    color: #9ec5fe;
    @include rem(font-size, 20);
    line-height: 1;
  }
  .type-sub-tit {
    @include rem(margin-top, 25);
    color: #fff;
    @include rem(font-size, 50);
    font-family: "Mont-Thin";
    line-height: 0.75;
    strong {
      font-family: "Mont-Bold";
    }
  }
}

.highlight {
  position: relative;
  color: #fff;
  @include rem(font-size, 34);
  font-weight: 100;
  z-index: 1;
  &::after {
    content: "";
    width: 0;
    @include rem(height, 20);
    display: inline-block;
    background: #0d6efd;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s all;
  }
  &.active {
    &::after {
      width: 100%;
      transition-delay: 0.8s;
    }
  }
}

.guide-list {
  li {
    position: relative;
    width: 100%;
    color: #fff;
    @include rem(padding-left, 20);
    @include rem(font-size, 20);
    font-family: "Neo-Light";
    line-height: 1.6;
    text-align: left;
    &::before {
      content: "";
      position: absolute;
      @include rem(top, 10);
      left: 0;
      @include rem(width, 8);
      @include rem(height, 8);
      border-radius: 100%;
      background: #0d6efd;
      transition: background-color 0.2s ease-out;
    }
    + li {
      @include rem(margin-top, 3);
    }
  }
  &.right-type {
    li {
      padding-left: 0;
      @include rem(padding-right, 20);
      text-align: right;
      &::before {
        left: auto;
        right: 0;
      }
    }
  }
}

.header {
  display: flex;
  @include rem(height, 80);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  .gnb-wrap {
    width: 1340px;
    @include rem(padding, 0 20);
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-area {
    h1 {
      position: relative;
      @include rem(padding-left, 55);
      &::before {
        content: "";
        position: absolute;
        @include rem(top, -9);
        left: 0;
        @include rem(width, 40);
        @include rem(height, 38);
        background: url(../images/img_logo01.png) no-repeat;
        background-size: cover;
      }
    }
    .logo {
      position: relative;
      display: block;
      @include rem(width, 245);
      @include rem(height, 19);
      @include rem(padding-left, 55);
      background: url(../images/img_logo02.png) no-repeat;
      background-size: 100% auto;
    }
  }
  .gnb-area {
    display: flex;
    @include rem(width, 435);
    @include rem(padding, 0 20);

    .gnb-list {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .one-depth {
        a {
          color: #fff;
          transition: color 0.2s ease-out;
          &:hover {
            color: #0d6efd;
          }
        }
        + .one-depth {
        }
      }
    }
  }
  .utill-btn-area {
    display: flex;
    align-items: center;
    @include rem(gap, 10);
    a {
      display: inline-flex;
      @include rem(width, 90);
      @include rem(height, 36);
      color: #fff;
      @include rem(border-radius, 5);
      background: #0d6efd;
      align-items: center;
      justify-content: center;
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: #0257d5;
      }
    }
    .btn-lang-box {
      @include rem(margin-left, 20);
      .btn-lang {
        position: relative;
        width: auto;
        @include rem(min-width, 60);
        @include rem(padding-right, 18);
        @include rem(border-radius, 100);
        background: #232a31;
        &::after {
          content: "";
          position: absolute;
          @include rem(top, 17);
          @include rem(right, 12);
          @include rem(width, 7);
          @include rem(height, 4);
          background: url(../images/ico_arrow.png) no-repeat;
          background-size: cover;
        }
      }
      .lang-list {
        position: absolute;
        @include rem(top, 65);
        @include rem(padding, 10 0);
        @include rem(border, 1 solid #9ec5fe);
        @include rem(border-radius, 10);
        z-index: 1;
        .list-item {
          color: #fff;
          @include rem(font-size, 12);
          font-weight: 500;
          font-family: "Montserrat";
          @include rem(padding, 5 21);
        }
      }
      &.on {
        .btn-lang {
          &::after {
            transform: rotate(-180deg);
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.section-area {
  &.appropriate {
    position: relative;
    width: 100%;
    @include rem(padding, 200 0 280);
    background: #111418 url(../images/bg_section01.png) no-repeat;
    background-size: cover;
    background-position: center;
    .text-area {
      text-align: center;
      span,
      strong {
        color: #fff;
      }
      .tit-box {
        .text {
          display: block;
          color: #fff;
          font-size: 0;
          span {
            display: inline-block;
            @include rem(font-size, 100);
          }
          &:last-child {
            font-weight: 100;
            @include rem(font-size, 100);
          }
        }
      }
      .txt-box {
        @include rem(font-size, 30);
        @include rem(margin-top, 90);
        line-height: 1.4;
        color: #fff;
        font-family: "Neo-Light";
        .text {
          &:nth-child(1) {
            .ui-set-y {
              transition-delay: 0.2s;
            }
          }
          &:nth-child(2) {
            .ui-set-y {
              transition-delay: 0.3s;
            }
          }
          &:nth-child(3) {
            .ui-set-y {
              transition-delay: 0.4s;
            }
          }
        }
        strong {
          font-family: "Neo-Bold";
          &.en-bold {
            font-family: "Mont-Bold";
          }
        }
      }
    }
  }
  &.product {
    position: relative;
    background-color: #111418;
    .section-tit {
      @include rem(padding, 120 0 240);
      background: #0d6efd;
    }
    .product-list-area {
      @include rem(padding-bottom, 240);
      background: url(../images/bg_section02.png) no-repeat;
      background-size: 192rem auto;
      background-position: top center;
      .card-list {
        position: relative;
        @include rem(top, -145);
        display: flex;
        @include rem(padding, 0 40);
        align-items: stretch;
        justify-content: center;
      }
      .card-item {
        display: flex;
        @include rem(width, 380);
        @include rem(padding, 0 0 60);
        @include rem(border-radius, 20);
        background: #111418;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
        position: relative;
        .box {
          position: relative;
          z-index: 2;
        }
        .bg {
          position: absolute;
          width: 200%;
          padding-top: 200%;
          border-radius: 50%;
          transform: translate(-50%, -50%) scale(0);
          z-index: 1;
          top: 0;
          left: 0;
          transition: transform 0.4s ease-in-out;
          box-shadow: 0 0 2rem 2rem #0257d5;
          &.active {
            transform: translate(-50%, -50%) scale(2.2);
          }
          background-color: #0257d5;
        }
        .ico {
          display: block;
          background-size: cover;
          @include rem(height, 240);
          background-position: bottom center;
          background-repeat: no-repeat;
          margin: 0 auto;
          transition-delay: 0.2s;
          &.ico01 {
            @include rem(width, 137);
            @include rem(background-size, auto 195);
            background-image: url(../images/product_item01.png);
          }
          &.ico02 {
            @include rem(width, 140);
            @include rem(background-size, auto 192);
            background-image: url(../images/product_item02.png);
          }
          &.ico03 {
            @include rem(width, 153);
            @include rem(background-size, auto 195);
            background-image: url(../images/product_item03.png);
          }
        }
        .card-tit {
          display: block;
          @include rem(margin-top, 60);
          color: #9ec5fe;
          @include rem(font-size, 30);
          font-family: "Neo-Medium";
          transition-delay: 0.2s;
        }
        .card-txt {
          display: block;
          @include rem(margin-top, 60);
          color: #fff;
          @include rem(font-size, 20);
          line-height: 1.6;
          font-family: "Neo-light";
          transition-delay: 0.2s;
        }
        .box {
          width: 100%;
          @include rem(padding, 0 16);
        }
        .guide-list {
          @include rem(margin-top, 60);
          max-width: 100%;
          li {
            transition-delay: 0.2s;
          }
        }
        + .card-item {
          @include rem(margin-left, 70);
        }
        &:nth-child(1) {
        }
        &:nth-child(2) {
          .guide-list {
            @include rem(width, 272);
            margin: 0 auto;
            @include rem(margin-top, 60);
          }
        }
        &:nth-child(3) {
          .guide-list {
            @include rem(width, 170);
            margin: 0 auto;
            @include rem(margin-top, 60);
          }
        }
      }
    }
  }
  &.marketing {
    background: #111418;
    .bg {
      position: absolute;
      width: 200%;
      padding-top: 200%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      z-index: 1;
      top: 0;
      left: 0;
      transition: transform 0.4s ease-in-out;
      box-shadow: 0 0 2rem 2rem #0257d5;
      background-color: #0257d5;
      &.active {
        transform: translate(-50%, -50%) scale(2.2);
      }
    }
    .section-tit {
      @include rem(margin-top, -120);
      position: relative;
      overflow: hidden;
    }
    .plan-area {
      @include rem(margin-top, 100);
      @include rem(padding, 0 290 181);
      background: #111418 url(../images/bg_section03.png) no-repeat;
      background-size: 192rem auto;
      background-position: center bottom;

      .plan-list {
        display: flex;
        align-items: center;

        + .plan-list {
          @include rem(margin-top, 50);
        }
        &:nth-child(2) {
          flex-direction: row-reverse;
          .plan-box {
            flex-direction: row-reverse;
            @include rem(margin, 0 100 0 0);
            background-image: linear-gradient(#111418, #111418),
              linear-gradient(270deg, #0257d5 0%, #111418 100%);
            .guide-list {
              @include rem(margin, 0 114 0 0);
            }
          }
        }
      }
      .plan-tit {
        color: #0d6efd;
        @include rem(font-size, 45);
        font-weight: 100;
        font-family: "Mont-Thin";
        position: relative;
        z-index: 2;
        strong {
          display: flex;
          @include rem(font-size, 100);
          font-family: "Mont-ExtraBold";
        }
      }
      .plan-box {
        display: flex;
        @include rem(width, 720);
        @include rem(min-height, 310);
        @include rem(margin-left, 100);
        @include rem(border, 1px solid transparent);
        @include rem(border-radius, 20);
        background-color: #111418;
        background-image: linear-gradient(#111418, #111418),
          linear-gradient(90deg, #0257d5 0%, #111418 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        z-index: 2;
        .plan-price {
          color: #9ec5fe;
          @include rem(font-size, 60);
          font-family: "Mont-Bold";
          position: relative;
          z-index: 2;
          @include rem(width, 220);
          text-align: center;
        }
        .guide-list {
          @include rem(margin-left, 114);
          position: relative;
          z-index: 2;
          .total {
            padding-left: 0;
            @include rem(margin-top, 20);
            @include rem(font-size, 30);
            &::before {
              display: none;
            }
          }
          .text {
            color: #fff;
            text-align: center;
            @include rem(font-size, 20);
            display: block;
            font-family: "Neo-Light";
            line-height: 1.75;
          }
        }
        &:hover {
          // background-image: none;
          .guide-list {
            li {
              &::before {
                background: #9ec5fe;
              }
            }
          }
        }
      }
    }
  }
  &.platform {
    position: relative;
    width: 100%;
    max-width: 100%;
    @include rem(padding-top, 150);
    @include rem(padding-bottom, 30);
    background: #111418 url(../images/bg_section04.png) no-repeat;
    background-size: cover;
    background-position: top center;
    .tit-area {
      @include rem(width, 1380);
      max-width: 100%;
      @include rem(padding, 0 20);
      margin: 0 auto;
      .type-tit {
        position: relative;
        display: block;
        @include rem(padding-top, 200);
        color: #fff;
        @include rem(font-size, 90);
        font-weight: 100;
        font-family: "Mont-Light";
        strong {
          display: flex;
          font-family: "Mont-Bold";
        }
      }
      .img-box {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .section-tit {
      align-items: flex-end;
      @include rem(width, 1380);
      max-width: 100%;
      @include rem(padding, 0 20);
      margin: 0 auto;
      .type-txt {
        @include rem(margin-top, 80);
        color: #fff;
        @include rem(font-size, 30);
        text-align: right;
        font-family: "Neo-Light";
        @include rem(width, 573);
        .highlight {
          font-weight: unset;
          font-family: "Mont-Light";
          strong {
            font-family: "Mont-Bold";
          }
        }
      }
    }
    .type-copy {
      width: 100%;
      color: #fff;
      @include rem(font-size, 12);
      font-weight: 400;
      font-family: "Montserrat";
      opacity: 0.5;
      text-align: center;
      @include rem(margin-top, 210);
    }
  }
}
.mo-menu {
  display: none;
}
@media (min-width: 768px) and (max-width: 1500px) {
  .header {
    @include rem(padding, 0 45);
  }
  .section-area {
    &.marketing {
      .plan-area {
        @include rem(padding, 0 112 181);
      }
    }
  }
}

// mo
@media screen and (max-width: 768px) {
  .pc-show {
    display: none !important;
  }
  .mo-show {
    display: block !important;
  }
  .highlight {
    @include rem(font-size, 18);
    &::after {
      @include rem(height, 11);
      width: 0;
      left: -0.5rem;
    }
    &.active::after {
      width: calc(100% + 0.6rem);
      left: -0.3rem;
    }
  }
  .section-tit {
    .type-tit {
      @include rem(font-size, 14);
    }
    .type-sub-tit {
      @include rem(margin-top, 14);
      @include rem(font-size, 24);
    }
  }
  .guide-list {
    li {
      @include rem(padding-left, 16);
      @include rem(font-size, 16);
      &:before {
        @include rem(width, 6);
        @include rem(height, 6);
      }
    }
  }
  .powerful-container {
    @include rem(margin-top, -1);
  }
  .header {
    @include rem(padding, 0 30);
    .gnb-wrap {
      padding: 0;
    }
    .logo-area {
      h1 {
        padding-left: 0;
        .logo {
          @include rem(width, 36);
          @include rem(height, 34);
          padding-left: 0;
          background: url(../images/img_logo01_mo.png) no-repeat;
          background-size: cover;
        }
        &::before {
          display: none;
        }
      }
    }
    .utill-btn-area {
      .btn-menu {
        @include rem(width, 28);
        @include rem(height, 17);
        border-radius: 0;
        background: url(../images/ico_menu.png) no-repeat;
        background-size: cover;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .section-area {
    &.appropriate {
      @include rem(padding, 120 0);
      background: #111418 url(../images/bg_section01_mo.png) no-repeat;
      background-size: 100% 100%;
      .text-area {
        .tit-box {
          .text {
            span {
              @include rem(font-size, 34);
            }
          }
        }
        .tit-box .text:last-child {
          @include rem(font-size, 34);
        }
        .txt-box {
          @include rem(margin-top, 50);
          @include rem(font-size, 18);
        }
      }
    }
    &.product {
      @include rem(padding, 80 20);
      background: #0d6efd;
      .section-tit {
        padding: 0;
        background: none;
      }
      .product-list-area {
        @include rem(margin-top, 40);
        padding: 0;
        background: none;
        .card-list {
          top: 0;
          padding: 0;
          flex-direction: column;
        }
        .card-item {
          width: 100%;
          .card-tit {
            @include rem(margin-top, 50);
            @include rem(font-size, 22);
          }
          .card-txt {
            @include rem(margin-top, 50);
            @include rem(font-size, 16);
          }
          .guide-list {
            @include rem(margin-top, 50);
          }
          .ico {
            @include rem(width, 153);
            @include rem(height, 240);
            background-size: 100% auto;
            background-position: bottom center;
            &.ico01 {
              background-image: url(../images/product_item01_mo.png);
            }
            &.ico02 {
              background-image: url(../images/product_item02_mo.png);
            }
            &.ico03 {
              background-image: url(../images/product_item03_mo.png);
            }
          }
          + .card-item {
            @include rem(margin, 40 0 0);
          }
          &:nth-child(2) {
            .guide-list {
              @include rem(width, 197);
            }
          }
          &:nth-child(3) {
            .guide-list {
              @include rem(width, 110);
            }
          }
        }
      }
    }
    &.marketing {
      background: #111418 url(../images/bg_section03_mo.png) bottom no-repeat;
      background-size: 100% auto;
      .section-tit {
        margin-top: 0;
        @include rem(padding, 80 0 200);
        background: url(../images/bg_section02_mo.png) no-repeat;
        background-size: cover;
      }
      .plan-area {
        position: relative;
        @include rem(top, -160);
        margin: 0;
        @include rem(padding, 0 20);
        background: none;
        .plan-list {
          @include rem(border, 1px solid transparent);
          @include rem(border-radius, 20);
          background-image: linear-gradient(#111418, #111418),
            linear-gradient(to bottom, #0257d5 0%, #111418 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          flex-direction: column;
          &:nth-child(2) {
            flex-direction: column;
            .plan-box {
              margin: 0;
              flex-direction: column;
              .guide-list {
                @include rem(width, 163);
                margin: 0 auto;
                @include rem(margin-top, 40);
                li {
                  text-align: left;
                  @include rem(padding-left, 20);
                  padding-right: 0;
                  &::before {
                    right: auto;
                    left: 0;
                  }
                }
              }
            }
          }
          &:nth-child(3) {
            .plan-price {
              margin-top: 0;
            }
            .guide-list {
              @include rem(margin-top, 40);
            }
            .text {
              @include rem(font-size, 16);
            }
          }
        }
        .plan-tit {
          width: 100%;
          @include rem(padding-top, 50);
          @include rem(font-size, 35);
          text-align: center;
          .num {
            @include rem(margin-bottom, -20);
            @include rem(font-size, 80);
            justify-content: center;
          }
          .y-hide:nth-child(1) {
            .ui-stagger-el.ui-set-y {
              line-height: 1;
              display: inline;
            }
          }
          .y-hide:nth-child(2) {
            .ui-stagger-el.ui-set-y {
              // @include rem(margin-top, 10);
            }
          }
        }
        .plan-box {
          width: 100%;
          @include rem(padding-bottom, 60);
          min-height: auto;
          background: none;
          background-image: none;
          flex-direction: column;
          .bg {
            transform: scale(0) !important;
          }
          @include rem(margin-left, 0);
          .plan-price {
            @include rem(font-size, 45);
            @include rem(margin-top, 35);
          }
          .guide-list {
            @include rem(margin, 50 0 0);
            .total {
              @include rem(font-size, 22);
            }
          }
        }
      }
    }
    &.platform {
      @include rem(padding, 0 40 21);

      background-image: url(../images/bg_section04_mo.png);
      background-size: 100% auto;
      background-position: top center;
      .tit-area {
        padding: 0;
        @include rem(padding-top, 80);

        .type-tit {
          img {
            @include rem(width, 45);
          }
          @include rem(padding-top, 70);
          @include rem(font-size, 28);
          &::before {
            @include rem(width, 47);
            @include rem(height, 47);
            background: url(../images/img_logo01_mo.png) bottom no-repeat;
            background-size: cover;
          }
        }
      }
      .section-tit {
        padding: 0;
        @include rem(margin-top, 80);
        .type-txt {
          @include rem(width, 244);
          @include rem(margin-top, 40);
          @include rem(font-size, 18);
          line-height: 1.4;
        }
      }
      .type-copy {
        @include rem(margin-top, 100);
      }
    }
  }
  .mo-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    background: #111418;
    z-index: 10;
    display: none;
    transition: left 0.35s cubic-bezier(0.68, 0.01, 0.22, 0.96);
    .dimm {
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(17, 20, 24, 0.7);
      z-index: 1;
    }

    .menu-header {
      display: flex;
      @include rem(height, 80);
      @include rem(padding, 0 30);
      align-items: center;
      justify-content: space-between;
      z-index: 2;
      position: relative;
      .logo {
        display: block;
        @include rem(width, 36);
        @include rem(height, 34);
        background: url(../images/img_logo01_mo_on.png) no-repeat;
        background-size: cover;
      }
      .btn-close {
        position: absolute;
        top: 0.6rem;
        right: 1.2rem;
        @include rem(width, 50);
        @include rem(height, 50);
        background-image: url(../images/ico_close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.4rem 1.4rem;
      }
    }
    .depth-area {
      @include rem(padding-bottom, 50);
      z-index: 2;
      position: relative;
      .depth-list {
        li {
          a {
            display: block;
            @include rem(padding, 25 0);
            color: #fff;
            @include rem(font-size, 22);
            font-weight: 500;
            text-align: center;
          }
        }
      }
      .utill-btn-area {
        display: flex;
        @include rem(margin-top, 45);
        align-items: center;
        justify-content: center;
        a {
          display: inline-flex;
          @include rem(width, 114);
          @include rem(height, 46);
          color: #fff;
          @include rem(font-size, 16);
          font-weight: 500;
          @include rem(border-radius, 5);
          background: #0d6efd;
          align-items: center;
          justify-content: center;
          + a {
            @include rem(margin-left, 10);
          }
        }
      }
    }
  }
}
